/*  --- UTILITY ---

    #053DFF BUILDR BLUE
    #698AFF BUILDR BLUE 75%
    #B4C4FF BUILDR BLUE 50%
--
    #F9CB33 BUILDR YEllOW
    #FADA70 - Warm Yellow Light 75
--
    #F3F3F3 SOFT WHITE
    #CCCCCC LIGHT GREY
    #707070 MEDIUM GREY
    #707070 DARK GREY
    #2B2A37 FADED BLACK

*/

/* Footer */

footer{
    background-color: #053DFF;
}

#footer__logo{
    height: 2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.footer__download_button {
    font-size: .9rem;
    display: inline-flex;
    align-content: center;
    background-color: #f4f4f9;
    color: #343a40;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 2rem;
    width: auto;
    text-decoration: none;
}

.footer__download_button img {
    height: 1.5rem;
    margin-right: .75rem;
}

footer hr {
    width: 104%;
    height: 1px;
    background-color: #2B2A37;
}



#footer__contactgegevens p{
    margin: 0;
}

#footer__contactgegevens h6{
    font-size: 1rem;
    font-weight: 600;
    color: #f4f4f9;
}

#footer__contactgegevens p {
    color: #f4f4f9;
    font-size: 75%;
    font-weight: 500;
}

.footer__button_contacteer{
    font-weight: 700;
    font-size: 1.2rem;
    background-color: #F3F3F3;
    color: #2B2A37;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    width: auto;
    text-decoration: none;
}

.footer__icon{
    width: 2rem;
    margin: 1px;
}

@media (max-width: 760px) {
    .footer__inhoud{
        text-align-last: center;

    }

    .text-end{
        text-align: center;
    }

    .footer__icon{
        margin-top: 1rem;
    }

    .footer__download_button{
        margin-top: 8px;
    }

    #footer__logo{
        margin-bottom: 1rem;
    }

    #footer__top{
        justify-content: center;
    }
}

/*Footer einde*/