* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, sans-serif;
}

.blog-header {

}

.blog-header__heading {

}


.blogpost {
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    margin-bottom: 40px;
}

.blogpost h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blogpost p {
    font-size: 16px;
    line-height: 1.5;
}

.blogpost-wide .col-md-6 {
    margin-bottom: 40px;
}

.blogpost-full .col-md-12 {
    margin-bottom: 40px;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-btn {
    width: 216px;
    height: 48px;
    border-radius: 24px;
    border: none;
    background-color: #2B2A37;
    color: #F7F7F7;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

@media (min-width: 768px) {
    .blogpost {
        margin: 40px 0;
    }

    .blogpost-wide .col-md-6 {
        margin-bottom: 0;
    }

    .blogpost-full .col-md-12 {
        margin-bottom: 0;
    }

    .btn-load-more {
        margin-top: 40px;
    }
}
