*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

/* UTILITY

#053DFF BUILDR BLUE
#698AFF BUILDR BLUE 75%
#B4C4FF BUILDR BLUE 50%

#F9CB33 BUILDR BLUE
#698AFF BUILDR BLUE 75%
#B4C4FF BUILDR BLUE 50%


*/

.pro-hero__header {
    font-size: 20px;
    font-weight: 700;
}

.pro-hero__img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    padding: 10px 0;
}

.pro-hero__logo {
    width: 100%;
    height: auto;
}

button{
    color: white;
    border: 1px solid black;
    background: black;
    width: 8rem;
    padding: 10px 0;
    border-radius: 5rem;
}

.pro-uitleg {
    color: white;
}

.pro-uitleg__logo img{
    width: 400px;
    height: auto;
}
.pro-subscription__block{
    color: black;
    border-radius: 10px;
}
.pro-subscription__price{
    margin-top: 150px;
}