*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

/* UTILITY

#053DFF BUILDR BLUE
#698AFF BUILDR BLUE 75%
#B4C4FF BUILDR BLUE 50%

#F9CB33 BUILDR YEllOW
#698AFF BUILDR BLUE 75%
#B4C4FF BUILDR BLUE 50%


*/

.pro-hero__header {
    font-size: 20px;
    font-weight: 700;
}

.pro-hero__img {
    max-width: 100%;
    height: auto;
    margin: 2rem 0;
    padding: 10px 0;
}

.pro-hero__logo {
    max-width: 100%;
    height: auto;
}

button {
    color: #2B2A37;
    border: none;
    background-color: #F9CB33;
    width: 8rem;
    padding: 10px 0;
    border-radius: 5rem;
    font-weight: 600;
    box-shadow: 3px 3px 6px rgba(42, 44, 55, 0.1);
}

.pro-uitleg {
    background: #2B2A37 ;
    color: white;
}

.pro-uitleg__img {
    width: 400px;
    height: auto;
}

.pro-uitleg__logo {
    width: 100%;
    height: auto;
}
