*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}
main{
    padding-top: 75px;
}
main img{
    width: 35px;
}
main p{
    font-size: 22px;
    font-weight: bold;
}
.vragen{
    border-bottom: lightgray 1px solid;
}
div button{
    background: none;
    border: none;
}
/*.content {*/
/*    padding: 0 18px;*/
/*    display: none;*/
/*    overflow: hidden;*/
/*    background-color: #f1f1f1;*/
/*}*/
