*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}


/*Navbar*/

.navbar {
   background-color: #F3F3F3;
}

.container-fluid {
    margin-left: 5rem;
    margin-right: 5rem;

}

.navbar-brand {
    font-weight: bold;
}
.nav-link {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: #000000;
    font-size: 110%;
    font-weight: 700;
}

.navbar-collapse{
    justify-content: end;
}

#nav_logo {
    height: 2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/*Navbar einde*/

/*Footer*/

footer{
    background-color: #F3F3F3;
}

.index-footer__inhoud{
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
}

#index-footer__logo{
    width: 12em;
}

footer p {
    margin: 0;
}

.index-footer__download_button {
    display: inline-flex;
    align-content: center;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    border-radius: 2rem;
    width: auto;
    text-decoration: none;
}

.index-footer__download_button img{
    height: 1.5rem;
    margin-right: 1rem;

}

footer hr {
    width: 104%;
    height: 1px;
    background-color: black;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}



#index-footer__contactgegevens p{
    margin: 0;
}

#index-footer__contactgegevens h6{
    font-size: 95%;
    font-weight: 700;
}

#index-footer__contactgegevens p{
    font-size: 75%;
    font-weight: 500;
}

.index-footer__button_contacteer{
    font-weight: 700;
    font-size: 110%;
    background-color: black;
    color: white;
    padding: 0.5rem 5rem;
    border-radius: 2rem;
    width: auto;
    text-decoration: none;

}

.index-footer__icon{
    width: 2rem;
    margin: 1px;
}

@media (max-width: 760px) {
    .index-footer__inhoud{
        text-align-last: center;

    }

    .text-end{
        text-align: center;
    }

    .index-footer__icon{
        margin-top: 1rem;
    }

    .index-footer__download_button{
        margin-top: 8px;
    }

    #index-footer__logo{
        margin-bottom: 1rem;
    }

    #index-footer__head{
        justify-content: center;
    }
}



/*Footer einde*/

