*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

nav{
    background-color: #f3f3f3;
    color: #303030;
    font-size: 135%;
    font-weight: 700;
    text-underline: none;
    text-decoration: none;
}

.col-md-auto a{
    text-decoration: none;
    color: #303030;
}

.row{
    margin: 0 1rem;
    justify-content: space-evenly;
    padding:1rem;
}

#nav_logo{
    height: 51px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
