* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*  --- MASTER PAGE ---

    DIT IS HET HOOFD CSS BESTAND. ALLE UITEINDELIJK CSS MOET NAAR HIER KOMEN
    LET OP !!
    --  BEM-NOTATIE PROBEREN HANDHAVEN AUB.
    --  GEEN ALGEMENE SELECTOREN zoals 'p', 'nav', .. GEBRUIKEN AUB,
    DIT HEEFT ANDERS EFFECT ALLE ELEMENTEN IN ALLE PAGINA'S

    --  NAVBAR ZOU BEST WORDEN AANGEPAST IN "INDEX" EN "PRO PAGES",NAAR DEZE VERSIE IN HET BLAUW
*/

.bg-primary {
    background-color: #053DFF !important;

}


/*  --- UTILITIES ---

    #053DFF BUILDR BLUE
    #698AFF BUILDR BLUE 75%
    #B4C4FF BUILDR BLUE 50%
--
    #F9CB33 BUILDR YEllOW
    #FADA70 - Warm Yellow Light 75
--
    #F3F3F3 SOFT WHITE
    #CCCCCC LIGHT GREY
    #707070 MEDIUM GREY
    #707070 DARK GREY
    #2B2A37 FADED BLACK

*/

/* --- MODIFIERS --- */

/*.bshadow {*/
/*    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/* --- NAVBAR --- */


div.container-fluid {
    padding-left: 12px;
    padding-right: 12px;
    margin: 0;
}

.navbar {
    background-color: #053DFF;
    color: white;
    justify-content: space-between;

}

.nav-link {
    color: white;
    font-size: 100%;
    font-weight: 400;
    text-decoration: none;
}

/*.nav-link:active {*/
/*    background-color: #0939e0;*/
/*}*/


.navbar-nav {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.navbar-nav > li {
    flex: 1;
    text-align: center;
}


.buildr-navbar__logo {
    height: 2rem;
    margin: .2rem auto;
}

div #navbarNav.collapse.navbar-collapse {
    justify-content: right;
}

button.navbar-toggler {
    color: #053DFF;
    --bs-navbar-toggler-border-color: none;
}

.navbar-toggler-icon {
    background-image: url("assets/white/icon_hamburger_icon.png");
}

#activenav {
    font-weight: 700;
    border-bottom: 1px solid #CCCCCC;
}

.nav-logo_uitlijning{
    padding-left: 3.5vw;
}



.nav-link:focus {
    color: white;
}

.nav-link:hover {
    color: white;
}

.nav-link:active {
    font-weight: 600;
}


@media (max-width: 920px) {
    .buildr-navbar__logo {
        margin-left: 0;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        display: none;
        /*padding: 10px;*/
        background-color: #053DFF;

    }


    .nav-link {
        color: white;
        font-weight: 600;
        background-color: #053DFF;
        padding-right: 35px;
        font-size: 20px;
    }

    .nav-link:active {
        background-color: #0939e0;
    }


    .navbar-collapse.show {
        display: block;
        width: 100%;
        text-align-last: right;
    }

    .navbar-nav {
        display: block;
        margin: 0;
        padding: 0;
    }

    .navbar-nav > li {
        display: block;
    }

    .navbar-nav > li > a {
        display: block;
        padding-bottom: 1rem;
        padding-top: 1rem;
        text-align: center;

    }


    .buildr-navbar__logo {

        margin-left: 0;
    }

    .navbar div.container-fluid {
        padding-left: 12px;
        padding-right: 12px;
    }

    #activenav {
        display: none;
    }


}


/* HOME // INDEX PAGE */

.home-hero__block {
    margin-top: 10%;
    margin-bottom: 6%;
}

.home-header__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f4f4f9;
}

.home__subheading {
    color: #cccccc;
    font-weight: 400;
    font-size: 1.2rem;
}

.home-hero__img,
.home-mockups__img {
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}

.home-buildchatmatch {
    border-radius: 12px;
}

.home__download_button {
    font-size: .9rem;
    font-weight: 600;
    display: inline-block;
    align-content: center;
    background-color: #ffdd32;
    color: #343a40;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
}

.home__download_button:hover {
    background-color: #FADA70;
}

.home__download_button img {
    height: 1.4rem;
    margin-right: .75rem;
}

.home-bcm__h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #f4f4f9;
}

.home-bcm__txt {
    font-size: 1rem;
    /*color: #CCCCCC;*/
    color: #FFFFFF;
}

.home-bcm__img {
    min-height: 12rem;
    object-fit: cover;
}

.home-content__block {
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #2B2A37;
    color: white;
}

.home-ontdek__tekst {
    margin-top: 1rem;
    margin-bottom: 6rem;
    margin-right: 2rem;
}

.home-ontdek__logo {
    width: 80%;
}

.home-ontdek__knop {
    color: #2B2A37;
    font-weight: 500;
    text-decoration: none;
    background-color: #ffdd32;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10rem;
}

.home-ontdek__knop:hover {
    background-color: #FADA70;
}

/* TESTIMONIALS / RECENSIES */

.home-testimonials__heading {
    font-size: 2rem;
    font-weight: 700;
    color: #2B2A37;
}

.testimonial__card {
    background-color: #f4f4f9;
    /*border: 1px solid #CCCCCC;*/
    max-width: 400px;
}

.testimonial__txt {
    font-size: 0.9rem;
}

/* --- NIEUWSBRIEF ---  */

.nieuwsbrief__box {
    background-color: #f4f4f9;
}

.nieuwsbrief__bar {

}


/* --- PRO --- */

.pro-hero__header {
    font-size: 1.3rem;
    font-weight: 700;
    color: #2B2A37;
}

.pro-hero__img {
    max-height: 800px;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
}

.pro__header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #f4f4f9;
}

.pro-header__heading {
    font-size: 3rem;
    font-weight: 600;
    color: #f4f4f9;
}

.pro__subheading {
    color: #f4f4f9;
    font-weight: 400;
    font-size: 1.2rem;
}

.pro-hero__button {
    color: #2B2A37;
    border: none;
    background-color: #ffdd32;
    width: 8rem;
    border-radius: 4rem;
    padding: 10px 0;
}

.pro-uitleg {
    background-color: #2B2A37;
}

.pro-uitleg__logo img {
    width: 100%;
    height: auto;
}

.pro__h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #f4f4f9;
}

.pro__bodytext {
    font-size: .85rem;
    font-weight: 400;
    color: #CCCCCC;
}

.pro-bcm__txt {
    font-size: 1rem;
}

.pro-bcm__img {
    min-height: 12rem;
    object-fit: cover;
}

.pro-subscription__price {
    font-weight: 600;
    margin-top: 120px;
    color: #2B2A37;
}

.price_subtext {
    font-size: 1rem;
}

.pricecard {
    cursor: pointer;
    opacity: 0.9;
    min-height: 20rem;
}

.pricecard:hover {
    opacity: 1.1;
}

.fa-ul {
    height: 140px;
}

/* --- CHECKOUT PAGE --- */

.checkout__block {
    background-color: #2B2A37;
}

.checkout__title {
    font-size: 1.5rem;
    color: #f4f4f9;
}

.checkout__eyebrowtxt {
    color: #CCCCCC;
}

.checkout__list {
    color: #f4f4f9;
}

.checkout__list i {
    color: #ffdd32;
}

.checkout__list a {
    font-weight: 500;
    font-size: .9rem;
}

.checkout__price {
    color: #f4f4f9;
}

.checkout-form__heading {
    font-weight: 700;
    margin: 0;
}

.checkout-form__txt {
    font-size: .9rem;
    font-weight: 400;
    color: #707070;
}

.checkoutbtn-bank {
    background-color: #CCCCCC;
    border: 1px solid #2B2A37;
}

.checkoutbtn-apple {
    background-color: #343a40;
    color: #f4f4f9;
}

.checkout-selection__block {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1rem;

}

.checkoutBtn1 {
    margin-bottom: 10px;
    padding-top: .2rem;
    padding-bottom: .2rem;
    background-color: #F9CB33;
    font-weight: 500;
    border-radius: 1rem;
    border: none;
    color: black;
}

.checkoutBtn2 {
    margin-bottom: 10px;
    padding-top: .2rem;
    padding-bottom: .2rem;
    background-color: #f4f4f9;
    font-weight: 500;
    border-radius: 1rem;
    border: none;
    color: black;
}


/* ORDER CONFIRMATION */

.confirm-message__heading {
    font-size: 3rem;
    font-weight: 700;
}

.confirm-message__subheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
}

.confirm-message {
    margin-top: 10vh;
}


.confirmation__infoblock {
    margin-bottom: 4rem;
}

.confirm__button{
    display: inline-block;
    color: black;
    background-color: #F9CB33;
    padding: .3rem 3rem;
    border-radius: 4rem;
    margin-bottom: 8px;
}

.confirm__button:hover{
    background-color: #FADA70;
}


/* --- ABOUT --- */


.about-header__img {
    width: 100%;
    height: auto;
}

.about-header__subheading {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #707070;
}

.about__subheading {
    font-weight: 700;
    color: #343a40;
}

.about__bodytext {
    color: #707070;
    font-weight: 500;
}

.about__img {
    width: 100%;
    max-height: 400px;
}

/* --- ABOUT GEDEELTE CTA MET BUTTONS --- */

.about-cta__heading {
    font-weight: 700;
    font-size: 3rem;
}

.store__button--small {
    display: inline-block;
    font-size: 22px;
    font-weight: 600;
    background-color: #F9CB33;
    color: #343a40;
    padding: 0.2rem 4rem;
    border-radius: 2rem;
    text-decoration: none;
}

.store__button--small:hover {
    background-color: #FADA70;
    color: #343a40;
    padding: 0.2rem 4rem;
}

.store__icon--small {
    height: 1.4rem;
    margin-right: .7rem;
}

/* --- ABOUT MINI NAV --- */

.about__navheading {
    font-size: .9rem;
    font-weight: 500;
}

.about__navlink {
    text-decoration: none;
    font-weight: 600;
    color: #707070;
}

.about__navlink:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #343a40;
}

.about__bullet {
    font-weight: 900;
    color: #F9CB33;
}
/*   ---SOCIAL EMBED---     */

.tagembed-container{
    width:75%;
    height:100%;
    overflow: auto;
}

/*   --- FAQ ---    */

.faq-header__subheading,
.tutorials__subheading,
.contact__subheading,
.blog-header__subheading {
    font-size: 1.2rem;
    font-weight: 600;
    color: #707070;
}

.faq-header__heading,
.ondersteuning-header__heading,
.tutorials__heading,
.contact-header__heading,
.blog-header__heading {
    font-size: 2rem;
    font-weight: 700;
    color: #2B2A37;
    text-align: center;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("assets/black/plus-button.png");
}

.accordion-button::after {
    background-image: url("assets/black/plus-button.png");
}

.faq-vraag {
    font-weight: 600;
}

.faq-text {
    font-size: 0.9rem;
    color: #707070;
    max-width: 80ch;
}

/* BUTTONS VAN FAQ MET PLUS SYMBOOL */
/* NOT COLLAPSED */

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

/* BORDER */

button.accordion-button:focus {
    box-shadow: none;
}

/*
    --- ONDERSTEUNING ---
*/

.ondersteuning {
    margin-top: 10%;
    margin-bottom: 8rem;
}

.ondersteuning__card {
    background-color: #fcfcfc;
    text-decoration: none;
    color: #2b2a37;
}

.ondersteuning__card:hover {
    background-color: #f5f5f5;
    text-decoration: none;
}

.ondersteuning__icon {
    font-size: 3rem;
}

.ondersteuning__cardtext {
    font-weight: 500;
    margin: 0;
}

/*
    --- TUTORIALS
*/

.tutorials__videoheader {
    font-weight: 600;
    font-size: 2rem;
}

.tutorials__textbox {
    border-top: lightgray 1px solid;
}

.tutorials__textbox:first-of-type {
    border-top: none;
}

.tutorials__textbox p {
    font-weight: 400;
    font-size: .9rem;
    color: #707070;
}

.tut__videoblock iframe {
    border-radius: 8px;
    min-height: 30vh;
}

.tut__video {
    width: 100%;
    height: auto;
}

.tut__videoblock {
    background-color: #f4f4f9;
    border-radius: 16px;
    padding: 3rem;
}

/*  --- CONTACT --- */

.contact-adres:first-of-type {
    border-right: 1px solid #CCCCCC;
}

.adres__heading {
    font-size: 1rem;
    font-weight: 700;
    color: #2B2A37;
}

.adres__list {
    list-style-type: none;
    text-decoration: none;
    list-style-position: inside;
    padding-left: 0;
}

.adres__listitem {
    margin-bottom: .2rem;
    font-weight: 400;
    font-size: .9rem;
}

.formulier__button {
    display: inline;
    text-align: center;
    text-decoration: none;
    color: #2B2A37;
    background-color: #F9CB33;
    border: none;
    border-radius: 999rem;
    padding: .4rem 1.2rem;
    font-weight: 600;
    font-size: 1rem;
}

.formulier__button:hover {
    background-color: #FADA70;
}

a:link {
    text-decoration: none;
}

.contactformulier label {
    display: none;
}

#map-container {
    height: 400px; /* hoogte van de kaart-container */
}

#contact-googlemaps_iframe {
    border-radius: 5px; /* Border radius aan iframe */
}

.contact-map iframe {
    width: 100%;
    height: 60%;
}

/* --- BLOG PAGE ---  */

.blog-card-sm {
    border-radius: 8px;
    background-color: #FFFFFF;
}

.hfix {
    min-height: 200px;
}

.blog-card-sm__img {
    border-radius: 8px;
}

.blog-card-sm__heading {
    font-weight: 700;
    font-size: 1rem;
    color: #343a40;
}

.blog-card-sm__txt {
    font-size: .9rem;
    color: #707070;
    max-height: 240px;
}

.lees-meer-btn {
    width: auto;
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #ffdd32;
    color: #2B2A37;
    line-height: 28px;
    transition: background-color 0.3s ease;
}

.lees-meer-btn:hover {
    font-size: .82rem;
    background-color: #FADA70;
    color: #2B2A37;
    transition: background-color 0.3s ease;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-btn {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 24px;
    border: none;
    background-color: #ffdd32;
    color: #2B2A37;
    line-height: 40px;
    cursor: pointer;
}

.load-more-btn:hover {
    font-size: 1.02rem;
    background-color: #FADA70;
    transition: background-color 0.3s ease;
}

/* --- BLOGPOST --- */


.blogpost__box {

}

.blogpost {
    background-color: #f4f4f9;
    padding: 2rem;
    border-radius: 8px;
}

.blogpost__heading {
    font-weight: 600;
    font-size: 1.5rem;
}

.blogpost__subheading {
    font-weight: 600;
    font-size: 1.2rem;
}

.blogpost__txt {
    font-weight: 400;
    max-width: 75ch;
}

.blogpost__img {
    display: flex;
    max-height: 50vh;
    width: 100%;
    object-fit: cover;
}

/* --- FOOTER --- */

footer p{
    margin-bottom: 0;
}

.footer__box {
    background-color: #053DFF;

}

.footer__logo {
    height: 2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.footer__download_button {
    font-size: .9rem;
    font-weight: 600;
    display: inline-block;
    align-content: center;
    background-color: #f4f4f9;
    color: #343a40;
    padding: 0.3rem 2.7rem;
    margin-top: 0.15rem;
    margin-bottom: .3rem;
    border-radius: 2rem;
    text-decoration: none;
}

.footer__download_button:hover {
    color: #707070;
    padding: 0.3rem 2.7rem;
    margin-top: 0.15rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
}

.footer__download_button img {
    height: 1.4rem;
    margin-right: .75rem;
}

.footer__breakline {
    width: 100%;
    height: 1px;
    color: #f4f4f9;
}

.footer__contactgegevens p {
    margin: 0;
}

.footer__contactgegevens h6 {
    margin-top: 1px;
    font-size: 1rem;
    font-weight: 600;
    color: #f4f4f9;
}

.footer__contactgegevens p {
    color: #f4f4f9;
    font-size: 75%;
    font-weight: 500;
}

.footer__button_contacteer {
    display: inline-flex;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #F3F3F3;
    color: #2B2A37;
    padding: 0.15rem 2.5rem;
    margin-top: 1px;
    border-radius: 2rem;
    text-decoration: none;
}

.footer__button_contacteer:hover{
    color: #707070;
    text-decoration: none;
}


.white-icon{
    color: white;
    font-size: 200%;
    padding-left: 6px;
}




.checkout__footer_bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: auto;

}

@media (max-width: 767px) {
    .checkout__footer_bottom{
        position: static;
    }
}



/* --- 404 ERROR PAGE --- */

.terug__link {
    font-size: 3rem;
    color: rgb(255, 221, 50);
    font-weight: 500;
    text-decoration: none;
}

.terug__link:hover {
    font-style: italic;
    color: #343a40;
}

.error__heading {
    font-size: 5rem;
    font-weight: 700;
}

.error__subheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
}

.errormessage {
    margin-top: 10vh;
}

.nieuwsbrief__form input[type=email] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.nieuwsbrief__button {
    color: black;
    font-weight: 600;
    text-align: center;
    background-color: #F9CB33;
    border: none;
    border-radius: 2rem;
    padding: .4rem 3rem;

}

.nieuwsbrief__button:hover {
    background-color: #FADA70;
}

/* BACK TO TOP */

.top-button {
    position: relative;
}

.top-button__link {
    font-size: 1rem;
    color: #ffdd32;
    text-decoration: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;

}

.top-button__link:hover {
    font-size: 1.02rem;
    color: #FADA70;
    text-decoration: none;
}

/*  --- MEDIA QUERIES ---   */

@media screen and (max-width: 576px) {

    .home-buildchatmatch {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {

    .verzend_knop_center{
        text-align-last: center;
    }

    footer .row{
        justify-content: center;
    }

    .ondersteuning {
        margin-top: 6%;
        margin-bottom: 4rem;
    }


    .footer__inhoud {
        text-align-last: center;
    }

    .text-end {
        text-align: center;
    }

    .footer__download_button {
        margin-top: 8px;
    }

    .footer__download_button:hover {
        margin-top: 8px;
    }

    .footer__logo {
        margin-bottom: 1rem;
    }

    .footer__top {
        justify-content: center;
    }

    .home-content__block {
        text-align: center;
    }

    .home-ontdek__tekst {
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .home-ontdek-fotoleft {
        margin-top: 3rem;
    }

}


/* MediaQuery voor border bij contactformulier */

@media screen and (max-width: 992px) {

    .contact-adres:first-of-type {
        border-right: none;
    }

}


@media screen and (min-width: 768px) {
    .blogpost {
        margin: 40px 0;
    }

    .blogpost-wide .col-md-6 {
        margin-bottom: 0;
    }

    .blogpost-full .col-md-12 {
        margin-bottom: 0;
    }

    .btn-load-more {
        margin-top: 40px;
    }
}
/*

.confirmation-element__confirmation{
    margin-top: 5%;
}

.confirmation-element__confirmation img{
    width: 15%;
}
.block-info__confirmation{
    color: #f4f4f9;
    border-radius: 25px;
    margin-top: 5%;
}
.confirmation__download_button{
    font-size: .9rem;
    font-weight: 600;
    display: inline-flex;
    align-content: center;
    background-color: #f4f4f9;
    color: #343a40;
    border: none;
    padding: 0.4rem 1rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    border-radius: 2rem;
    text-decoration: none;
}
.confirmation__download_button:hover {
    background-color: #FADA70;
}
.block-info__confirmation-ondersteuning-block{
    border-radius: 25px;
    color: black;
    height: 100%;
    margin: 0 20px 20px 20px;
}
