* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*  --- MASTER PAGE ---

    DIT IS HET HOOFD CSS BESTAND. ALLE UITEINDELIJK CSS MOET NAAR HIER KOMEN
    LET OP !!
    --  BEM-NOTATIE PROBEREN HANDHAVEN AUB.
    --  GEEN ALGEMENE SELECTOREN zoals 'p', 'nav', .. GEBRUIKEN AUB,
    DIT HEEFT ANDERS EFFECT ALLE ELEMENTEN IN ALLE PAGINA'S

    --  NAVBAR ZOU BEST WORDEN AANGEPAST IN "INDEX" EN "PRO PAGES",NAAR DEZE VERSIE IN HET BLAUW
*/

.bg-primary {
    background-color: #053DFF !important;

}


/*  --- UTILITIES ---

    #053DFF BUILDR BLUE
    #698AFF BUILDR BLUE 75%
    #B4C4FF BUILDR BLUE 50%
--
    #F9CB33 BUILDR YEllOW
    #FADA70 - Warm Yellow Light 75
--
    #F3F3F3 SOFT WHITE
    #CCCCCC LIGHT GREY
    #707070 MEDIUM GREY
    #707070 DARK GREY
    #2B2A37 FADED BLACK

*/

/* --- MODIFIERS --- */

.bshadow {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/* --- NAVBAR --- */

.buildr-navbar {
    background-color: #053DFF;
    text-decoration: none;
}
.buildr-navbar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #f4f4f9;
}
.buildr-navbar a:hover{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
.buildr-navbar__logo {
    height: 2rem;
    margin: 1rem auto;
}

/* HOME // INDEX PAGE */

.home-hero__block{
    margin-top: 10%;
    margin-bottom: 6%;
}

.home-header__heading {
    font-size: 2.5rem;
    font-weight: 700;
    color: #f4f4f9;
}
.home__subheading {
    color: #cccccc;
    font-weight: 400;
    font-size: 1.2rem;
}
.home-buildchatmatch {
    border-radius: 12px;
}

.home__download_button {
    font-size: .9rem;
    font-weight: 600;
    display: inline-block;
    align-content: center;
    background-color: #ffdd32;
    color: #343a40;
    border: none;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
}
.home__download_button:hover {
    background-color: #FADA70;
}

.home__download_button img {
    height: 1.4rem;
    margin-right: .75rem;
}

.home-bcm__h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #f4f4f9;
}
.home-bcm__txt {
    font-size: 1rem;
    color: #CCCCCC;
}
.home-bcm__img {
    min-height: 12rem;
    object-fit: cover;
}

.home-content__block{
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-color: #2B2A37;
    color: white;
}

.home-ontdek__tekst{
    margin-top: 1rem;
    margin-bottom: 6rem;
    margin-right: 2rem;
}

.home-ontdek__logo{
    width: 80%;
}

.home-ontdek__knop{
    color: #2B2A37;
    font-weight: 500;
    text-decoration: none;
    background-color: #ffdd32;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 10rem;
}
.home-ontdek__knop:hover{
    background-color: #FADA70;
}

/* TESTIMONIALS / RECENSIES */

.testimonial__card {
    background-color: #f4f4f9;
    border: 1px solid #CCCCCC;
    max-width: 400px;
}

.testimonial__txt {
    max-height: 160px;
}


/* --- PRO --- */

.pro-hero__header {
    font-size: 1.3rem;
    font-weight: 700;
    color: #2B2A37;
}
.pro-hero__img {
    max-height: 800px;
}

.pro__header {
    font-size: 1.6rem;
    font-weight: 700;
    color: #f4f4f9;
}

.pro-header__heading {
    font-size: 3rem;
    font-weight: 600;
    color: #f4f4f9;
}
.pro__subheading {
    color: #CCCCCC;
    font-weight: 400;
    font-size: 1.2rem;
}
.pro-hero__button {
    color: #2B2A37;
    border: none;
    background-color: #ffdd32;
    width: 8rem;
    border-radius: 4rem;
    padding: 10px 0;
}
.pro-uitleg {
    background-color: #2B2A37;
}
.pro-uitleg__logo img {
    width: 100%;
    height: auto;
}
.pro__h3 {
    font-size: 1rem;
    font-weight: 600;
    color: #f4f4f9;
}
.pro__bodytext {
    font-size: .85rem;
    font-weight: 400;
    color: #CCCCCC;
}

.pro-bcm__txt {
    font-size: 1rem;
}
.pro-bcm__img {
    min-height: 12rem;
    object-fit: cover;
}

.pro-subscription__price {
    font-weight: 600;
    margin-top: 120px;
    color: #2B2A37;
}

.price_subtext {
    font-size: 1rem;
}

.pricecard {
    cursor: pointer;
    opacity: 0.9;

}

.pricecard:hover {
    opacity: 1.1;
}

/* --- CHECKOUT PAGE --- */

.checkout__block {
    background-color: #2B2A37;
}
.checkout__title {
    font-size: 1.5rem;
    color: #f4f4f9;
}
.checkout__eyebrowtxt {
    color: #CCCCCC;
}
.checkout__list {
    color: #f4f4f9;
}
.checkout__list i {
    color: #ffdd32;
}
.checkout__list a {
    font-weight: 500;
    font-size: .9rem;
}

.checkout__price {
    color: #f4f4f9;
}

.checkout-form__heading {
    font-weight: 700;
    margin: 0;
}
.checkout-form__txt {
    font-size: .9rem;
    font-weight: 400;
    color: #707070;
}

.checkoutbtn-bank {
    background-color: #f4f4f9;
    border: 1px solid #CCCCCC;
}
.checkoutbtn-apple {
    background-color: #343a40;
    color: #f4f4f9;
}

/* ORDER CONFIRMATION */

.confirm-message__heading {
    font-size: 3rem;
    font-weight: 700;
}
.confirm-message__subheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
}

.confirm-message {
    margin-top: 30vh;
}

.confirm__ondersteuning-card {
    background-color: #698AFF;
    text-decoration: none;
    color: #343a40;
}
.confirm__ondersteuning-card {
    background-color: #d7deff;
}

.confirmation__infoblock {
    margin-bottom: 4rem;
}

/* --- ABOUT --- */

.about-header__img {
    width: 100%;
    height: auto;
}
.about-header__subheading {
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    color: #707070;
}
.about__subheading {
    font-weight: 700;
    color: #343a40;
}
.about__bodytext {
    color: #707070;
    font-weight: 500;
}
.about__img {
    width: 100%;
    max-height: 400px;
}

/* --- ABOUT GEDEELTE CTA MET BUTTONS --- */

.about-cta__heading {
    font-weight: 700;
    font-size: 3rem;
}
.store__button--small {
    font-size: .8rem;
    font-weight: 600;
    background-color: #F9CB33;
    color: #343a40;
    padding: 0.6rem 1.2rem;
    border-radius: 2rem;
    text-decoration: none;
}
.store__button--small:hover {
    font-size: .82rem;
    background-color: #FADA70;
    color: #343a40;
}
.store__icon--small {
    height: 1rem;
    margin-right: .5rem;
}

/* --- ABOUT MINI NAV --- */

.about__navheading {
    font-size: .9rem;
    font-weight: 500;
}
.about__navlink {
    text-decoration: none;
    font-weight: 600;
    color: #707070;
}
.about__navlink:hover {
    text-decoration: underline;
    font-weight: 700;
    color: #343a40;
}
.about__bullet {
    font-weight: 900;
    color: #F9CB33;
}

/*   --- FAQ ---    */

.faq-header__subheading,
.tutorials__subheading,
.contact__subheading,
.blog-header__subheading {
    font-size: 1.2rem;
    font-weight: 600;
    color: #707070;
}
.faq-header__heading,
.ondersteuning-header__heading,
.tutorials__heading,
.contact-header__heading,
.blog-header__heading {
    font-size: 2rem;
    font-weight: 700;
    color: #2B2A37;
}
.accordion-button:not(.collapsed)::after {
    background-image: url("assets/black/plus-button.png");
}
.accordion-button::after {
    background-image: url("assets/black/plus-button.png");
}
.faq-vraag {
    font-weight: 600;
}
.faq-text {
    font-size: 0.9rem;
    color: #707070;
    max-width: 80ch;
}

/* BUTTONS VAN FAQ MET PLUS SYMBOOL */
/* NOT COLLAPSED */

.accordion-button:not(.collapsed) {
    background-color: transparent;
}
/* BORDER */

button.accordion-button:focus{
    box-shadow: none;
}

/*
    --- ONDERSTEUNING ---
*/

.ondersteuning {
    margin-top: 10%;
    margin-bottom: 8rem;
}
.ondersteuning__card {
    background-color: #698AFF;
    text-decoration: none;
    color: #f4f4f9;
}
.ondersteuning__card:hover {
    background-color: #B4C4FF;
    text-decoration: none;
    color: #f4f4f9;
}
.ondersteuning__icon {
    font-size: 3rem;
}
.ondersteuning__cardtext {
    font-weight: 500;
    margin: 0;
}

/*
    --- TUTORIALS
*/

.tutorials__videoheader {
    font-weight: 600;
    font-size: 2rem;
}
.tutorials__textbox {
    border-top:lightgray 1px solid;
}
.tutorials__textbox:first-of-type {
    border-top: none;
}
.tutorials__textbox p {
    font-weight: 400;
    font-size: .9rem;
    color: #707070;
}

.tut__videoblock iframe {
    border-radius: 8px;
}
.tut__video {
    width: 100%;
    height: auto;
}
.tut__videoblock {
    background-color: #f4f4f9;
    border-radius: 16px;
    padding: 3rem;
}

/*  --- CONTACT --- */

.contact-adres:first-of-type {
    border-right: 1px solid #CCCCCC;
}
.adres__heading {
    font-size: 1rem;
    font-weight: 700;
    color: #2B2A37;
}
.adres__list {
    list-style-type: none;
    text-decoration: none;
    list-style-position: inside;
    padding-left: 0;
}
.adres__listitem {
    margin-bottom: .2rem;
    font-weight: 400;
    font-size: .9rem;
}
.formulier__button {
    text-align: center;
    text-decoration: none;
    color: #2B2A37;
    background-color: #F9CB33;
    border: none;
    border-radius: 999rem;
    padding: .4rem 1.2rem;
    font-weight: 600;
}
.formulier__button:hover {
    background-color: #FADA70;
}
.contactformulier label {
    display: none;
}
#map-container {
    height: 400px; /* hoogte van de kaart-container */
}
.contact-map iframe {
    width: 100%;
    height: 60%;
}

/* --- BLOG PAGE ---  */

.blog-card-sm {
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
}
.hfix {
    min-height: 200px;
}
.blog-card-sm__img {
    border-radius: 8px;
}
.blog-card-sm__heading {
    font-weight: 700;
    font-size: 1rem;
    color: #343a40;
}
.blog-card-sm__txt {
    font-size: .9rem;
    color: #707070;
    max-height: 240px;
}
.lees-meer-btn {
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    border: none;
    background-color: #ffdd32;
    color: #2B2A37;
    line-height: 28px;
    transition: background-color 0.3s ease;
}

.lees-meer-btn:hover {
    font-size: .82rem;
    background-color: #FADA70;
    color: #2B2A37;
    transition: background-color 0.3s ease;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load-more-btn {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    border-radius: 24px;
    border: none;
    background-color: #ffdd32;
    color: #2B2A37;
    line-height: 40px;
    cursor: pointer;
}
.load-more-btn:hover {
    font-size: 1.02rem;
    background-color: #FADA70;
    transition: background-color 0.3s ease;
}



/* Footer */

.footer__box {
    background-color: #053DFF;
}

.footer__logo{
    height: 2em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.footer__download_button {
    font-size: .9rem;
    font-weight: 600;
    display: inline-flex;
    align-content: center;
    background-color: #f4f4f9;
    color: #343a40;
    padding: 0.5rem 1rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    border-radius: 2rem;
    text-decoration: none;
}
.footer__download_button:hover {
    color: #707070;
    padding: 0.5rem 1rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    text-decoration: none;
}

.footer__download_button img {
    height: 1.4rem;
    margin-right: .75rem;
}
.footer__breakline {
    width: 100%;
    height: 1px;
    color: #f4f4f9;
}
.footer__contactgegevens p {
    margin: 0;
}
.footer__contactgegevens h6 {
    font-size: 1rem;
    font-weight: 600;
    color: #f4f4f9;
}
.footer__contactgegevens p {
    color: #f4f4f9;
    font-size: 75%;
    font-weight: 500;
}
.footer__button_contacteer {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #F3F3F3;
    color: #2B2A37;
    padding: 0.5rem 2.5rem;
    border-radius: 2rem;
    text-decoration: none;
}
.footer__icon {
    width: 2rem;
    margin: 1px;
}

/* --- 404 ERROR PAGE --- */

.terug__link {
    font-size: 3rem;
    color: rgb(255, 221, 50);
    font-weight: 500;
    text-decoration: none;
}
.terug__link:hover {
    font-style: italic;
    color: #343a40;
}

.error__heading {
    font-size: 5rem;
    font-weight: 700;
}
.error__subheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #707070;
}

.errormessage {
    margin-top: 30vh;
}

.nieuwsbrief__form input[type=email] {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.nieuwsbrief__button {
    font-weight: 600;
    text-align: center;
    background-color: #F9CB33;
    border: none;
    border-radius: 2rem;
    padding: .4rem 1.2rem;

}
.nieuwsbrief__button:hover {
    background-color: #FADA70;
}

/*  --- MEDIA QUERIES ---   */

@media screen and (max-width: 576px) {

    .home-buildchatmatch {
        border-radius: 0;
    }
}

@media screen and (max-width: 768px) {
    .ondersteuning {
        margin-top: 6%;
        margin-bottom: 4rem;
    }
    .footer__inhoud {
        text-align-last: center;
    }
    .text-end {
        text-align: center;
    }
    .footer__icon {
        margin-top: 1rem;
    }
    .footer__download_button{
        margin-top: 8px;
    }
    .footer__logo {
        margin-bottom: 1rem;
    }
    .footer__top {
        justify-content: center;
    }

    .home-content__block{
        text-align: center;
    }

    .home-ontdek__tekst{
        margin-top: 3rem;
        margin-bottom: 3rem;
        margin-right: 3rem;
        margin-left: 3rem;
    }

    .home-ontdek-fotoleft{
        margin-top: 3rem;
    }

}


/* MediaQuery voor border bij contactformulier */

@media screen and (max-width: 992px) {

.contact-adres:first-of-type {
    border-right: none;
    }

}

/*
@media screen and (min-width: 768px) {
    .blogpost {
        margin: 40px 0;
    }

    .blogpost-wide .col-md-6 {
        margin-bottom: 0;
    }

    .blogpost-full .col-md-12 {
        margin-bottom: 0;
    }

    .btn-load-more {
        margin-top: 40px;
    }
}
*/
/*

.confirmation-element__confirmation{
    margin-top: 5%;
}

.confirmation-element__confirmation img{
    width: 15%;
}
.block-info__confirmation{
    color: #f4f4f9;
    border-radius: 25px;
    margin-top: 5%;
}
.confirmation__download_button{
    font-size: .9rem;
    font-weight: 600;
    display: inline-flex;
    align-content: center;
    background-color: #f4f4f9;
    color: #343a40;
    border: none;
    padding: 0.4rem 1rem;
    margin-top: 0.15rem;
    margin-bottom: 0.15rem;
    border-radius: 2rem;
    text-decoration: none;
}
.confirmation__download_button:hover {
    background-color: #FADA70;
}
.block-info__confirmation-ondersteuning-block{
    border-radius: 25px;
    color: black;
    height: 100%;
    margin: 0 20px 20px 20px;
}
*/