* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/*  --- UTILITY ---

    #053DFF BUILDR BLUE
    #698AFF BUILDR BLUE 75%
    #B4C4FF BUILDR BLUE 50%
--
    #F9CB33 BUILDR YEllOW
    #FADA70 - Warm Yellow Light 75
--
    #F3F3F3 SOFT WHITE
    #CCCCCC LIGHT GREY
    #707070 MEDIUM GREY
    #707070 DARK GREY
    #2B2A37 FADED BLACK

*/

.bshadow {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

/*
    --- FAQ ---
*/

.faq-header__subheading,
.tutorials__subheading,
.contact__subheading {
    font-size: 1.2rem;
    font-weight: 600;
    color: #707070;
}

.faq-header__heading,
.ondersteuning-header__heading,
.tutorials__heading,
.contact-header__heading {
    font-size: 2rem;
    font-weight: 700;
    color: #2B2A37;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("assets/black/plus-button.png");
}

.accordion-button::after {
    background-image: url("assets/black/plus-button.png");
}

.faq-vraag {
    font-weight: 600;
}

.faq-text {
    font-size: 0.9rem;
    color: #707070;
}

/* BUTTONS VAN FAQ MET PLUS SYMBOOL */
/* NOT COLLAPSED */

.accordion-button:not(.collapsed) {
    background-color: transparent;
}
/* BORDER */

button.accordion-button:focus{
    box-shadow: none;
}

/*
    --- ONDERSTEUNING ---
*/

.ondersteuning {
    margin-top: 15%;
}

.ondersteuning__card {
    background-color: #698AFF;
    text-decoration: none;
    color: #f4f4f9;
}

.ondersteuning__card:hover {
    background-color: #B4C4FF;
    text-decoration: none;
    color: #f4f4f9;
}

.ondersteuning__icon {
    font-size: 3rem;
}

.ondersteuning__cardtext {
    font-weight: 500;
    margin: 0;
}

/*
    --- TUTORIALS
*/

.tutorials__videoheader {
    font-weight: 600;
    font-size: 2rem;
}

.tutorials__textbox {
    border-top:lightgray 1px solid;
}

.tutorials__textbox:first-of-type {
    border-top: none;
}

.tutorials__textbox p {
    font-weight: 400;
    font-size: .9rem;
    color: #707070;
}

iframe {
    border-radius: 8px;
}

.tut__video {
    width: 400px;
    height: 220px;
}

.tut__videoblock {
    background-color: #f4f4f9;
    border-radius: 16px;
    padding: 3rem;
}

/*
    --- CONTACT ---
*/

.contact-adres:first-of-type {
    border-right: 1px solid #CCCCCC;
}

.adres__heading {
    font-size: 1rem;
    font-weight: 700;
    color: #2B2A37;
}

.adres__list {
    list-style-type: none;
    text-decoration: none;
    list-style-position: inside;
    padding-left: 0;
}

.adres__listitem {
    margin-bottom: .2rem;
    font-weight: 400;
    font-size: .9rem;
}

.formulier__button {
    text-align: center;
    background-color: #F9CB33;
    border: none;
    border-radius: 999rem;
    padding: .4rem 1.2rem;
    font-weight: 600;
}

.formulier__button:hover {
    background-color: #FADA70;
}

.contactformulier label {
    display: none;
}

#map-container {
    height: 400px; /* hoogte van de kaart-container */
}

iframe {
    width: 100%;
    height: 60%;
}


/*
    --- MEDIA QUERIES ---
*/

/* MediaQuery voor border bij contactformulier */
@media screen and (max-width: 992px) {
.contact-adres:first-of-type {
    border-right: none;
}
}