/* Style for Accordion Menu */
.accordion .card-header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.accordion .btn-link {
    text-decoration: none;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.accordion .btn-link:hover,
.accordion .btn-link:focus {
    color: #007bff;
}

.accordion .btn-link:after {
    display: inline-block;
    content: "";
    width: 0.5em;
    height: 0.5em;
    margin-left: 0.3em;
    vertical-align: middle;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
}

.accordion .collapsed:after {
    transform: rotate(-90deg);
}

.accordion .card-body {
    padding: 20px;
}
